<section>
    {{#each blogs as |blog|}}
    <div class="blog">
        <p>{{blog.body}}</p>
        <p style="color:aqua">{{user.name}}</p>
        {{#each comments as |comment|}}
        <p style="color: brown;">{{comment.body}}</p>
        {{/each}}
    </div>
    {{/each}}
</section>